body{
    width: 95%;
    margin: auto;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
.leftSide{
    display: inline-block;
    width: 72%;
}

.rightSide{
    display: inline-block;
    width: 228px;
    background-color: #3996AD;
    vertical-align: top;
    color: white;
}

.titleCV strong{
    text-transform: uppercase;
    color: #3996AD;
}

.titleCV h3{
    color: #3996AD;
}

article h2{
    border: 1px solid #3996AD;
    text-transform: uppercase;
    color: #3996AD;
    padding: 10px;
}

.work .dates {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    color: #3996AD;
}

.work .societyAndJob{
    display: inline-block;
    width: 80%;
}

.societyAndJob strong{
    color: #3996AD;
}

.flag img{
    width: 50px;
    height: 50px;
}

.informatic{
    display: inline-block;
    vertical-align: top;
}

.informatic img{
    border-radius: 30%;
    background-color: #3996AD;
    padding: 5px;
    vertical-align: top;
}

.table{
    display: inline-block;
    margin-top: -10px;
}

.languages{
    display: inline-block;
    width: 49%;
    float: right;
}

.languages .world{
    border-radius: 30%;
    background-color: #3996AD;
    padding: 5px;
    vertical-align: top;
}

.languages .flag{
    display: inline-block;
    margin-top: -10px;
}

.education .date{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    color: #3996AD;
}

.education .school{
    display: inline-block;
    width: 80%;
}

.school strong{
    color: #3996AD;
}

.picture{
    width: 170px;
    margin-top: 10px;
    margin-left: 28px;
    border-radius: 50%;
}

.rightSide article h4{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.rightSide article p{
    padding: 5px;
}

footer{
    background-color: #246A7B;
    color: white;
    padding-left: 80px;
    width: 82%;
}

footer div{
    display: inline-block;
    vertical-align: top;
    width: 32%;
}


.address img, .mail img, .phone img{
     display: inline-block;
 }

.address p, .mail p, .phone p{
    display: inline-block;
}